<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <title>SI-Factory</title>
        <meta charset="UTF-8">
    
        <title>Form Propose Item</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    
    <body>
        <nav th:replace="fragments/fragment :: navbar('')"></nav>
        <div class="container">
            <div class="card m-4 p-4">
                <div class="card-body">
                    <div class="justify-content-center">
                        <h2>Propose Item</h2>
                        <br>
                        <form th:action="@{/item/propose-item}" th:object="${item}" method="post">
                            <!--FORM INPUT-->

                            <label>Nama Item</label>
                            <input required class="form-control" th:field="*{nama}" type="text" name="nama" />

                            <label>Harga Item</label>
                            <input required class="form-control" th:field="*{harga}" type="number" name="harga" />

                            <label>Stok Item</label>
                            <input required class="form-control" th:field="*{stok}" type="number" name="stok" />

                            <label>Kategori Item</label>
                            <select th:field="*{kategori}" name="kategori" class="form-control">
                                <option selected value="">--Pilih Kategori Item--</option>
                                <div th:each="kategori: ${listKategori}">
                                    <option th:if="${kategori} == 1" th:value="${kategori}">BUKU</option>
                                    <option th:if="${kategori} == 2" th:value="${kategori}">DAPUR</option>
                                    <option th:if="${kategori} == 3" th:value="${kategori}">MAKANAN & MINUMAN</option>
                                    <option th:if="${kategori} == 4" th:value="${kategori}">ELEKTRONIK</option>
                                    <option th:if="${kategori} == 5" th:value="${kategori}">FASHION</option>
                                    <option th:if="${kategori} == 6" th:value="${kategori}">KECANTIKAN & PERAWATAN DIRI</option>
                                    <option th:if="${kategori} == 7" th:value="${kategori}">FILM & MUSIK</option>
                                    <option th:if="${kategori} == 8" th:value="${kategori}">GAMING</option>
                                    <option th:if="${kategori} == 9" th:value="${kategori}">GADGET</option>
                                    <option th:if="${kategori} == 10" th:value="${kategori}">KESEHATAN</option>
                                    <option th:if="${kategori} == 11" th:value="${kategori}">RUMAH TANGGA</option>
                                    <option th:if="${kategori} == 12" th:value="${kategori}">FURNITURE</option>
                                    <option th:if="${kategori} == 13" th:value="${kategori}">ALAT & PERANGKAT KERAS</option>
                                    <option th:if="${kategori} == 14" th:value="${kategori}">WEDDING</option>
                                </div>
                            </select>
                            <br>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-primary" href="/">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>