<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>SI-Factory</title>
    <meta charset="UTF-8">

    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Home')"></nav>
    <div class="d-flex justify-content-center" >
        <div class="m-4">
            <div class="d-flex justify-content-center">
                <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h2>
            </div>
            <div class="d-flex justify-content-center">
                <br>
                <a th:href="@{/mesin/viewall}" class="mx-2 btn btn-warning">Lihat Semua Mesin</a>
                <a th:href="@{/item/viewall}" class="mx-2 btn btn-outline-warning">Lihat Semua Item</a>
                <a th:href="@{/produksi/viewall}" class="mx-2 btn btn-warning">Lihat Semua Daftar Produksi</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="d-flex justify-content-center">
                <!--ISI BUTTON FITUR
                    Membuat Pengguna
                    Menampilkan Daftar Pegawai
                -->
                <br>
                <a th:href="@{/pegawai/add}" class="mx-2 btn btn-warning">Buat Pengguna</a>
                <a th:href="@{/pegawai/viewall}" class="mx-2 btn btn-outline-warning">Lihat Daftar Pegawai</a>
            </div>
            <div sec:authorize="hasAuthority('FACTORY_MANAGER')" class="d-flex justify-content-center">
                <!--ISI BUTTON FITUR
                    Propose Item
                    Menampilkan Daftar Pegawai
                -->
                <br>
                <a th:href="@{/item/propose-item}" class="mx-2 btn btn-warning">Propose Item</a>
                <a th:href="@{/pegawai/viewall}" class="mx-2 btn btn-outline-warning">Lihat Daftar Pegawai</a>
            </div>
            <div sec:authorize="hasAuthority('STAFF_OPERASIONAL')" class="d-flex justify-content-center">
                <!--ISI BUTTON FITUR
                    Daftar Request Update Item
                    Menampilkan Daftar Delivery
                -->
                <br>
                <a th:href="@{/}" class="mx-2 btn btn-warning">Daftar Request Update Item</a>
                <a th:href="@{/delivery/viewall}" class="mx-2 btn btn-outline-warning">Lihat Daftar Delivery</a>
            </div>
            <div sec:authorize="hasAuthority('STAFF_KURIR')" class="d-flex justify-content-center">
                <!--ISI BUTTON FITUR
                    Assign Delivery kurir
                    Menampilkan Daftar Delivery
                    Pengiriman Delivery
                -->
                <br>
                <a href="@{/}" class="mx-2 btn btn-warning">Assign Delivery Kurir</a>
                <a href="@{/}" class="mx-2 btn btn-outline-warning">Lihat Daftar Delivery</a>
                <a href="@{/}" class="mx-2 btn btn-warning">Pengiriman Delivery</a>
            </div>
            <div sec:authorize="hasAuthority('STAFF_GUDANG')" class="d-flex justify-content-center">
                <!--ISI BUTTON FITUR
                    Daftar Request Update Item
                        Menerima Request Update Item
                        Update Stok Item dari Request Update Item
                    Update Stok Item
                -->
                <br>
                <a th:href="@{/}" class="mx-2 btn btn-warning">Daftar Request Update Item</a>
                <a th:href="@{/}" class="mx-2 btn btn-outline-warning">Update Stok Item</a>
            </div>
        </div>
    </div>
</body>