<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <title>List Mesin</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Produksi')"></nav>

</nav><div class="container">
    <h2>Daftar Seluruh Produksi</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Id Produksi</th>
            <th>Id Item</th>
            <th>Id Kategori</th>
            <th>Tambahan Stok</th>
            <th>Nama Pegawai</th>
            <th>Nama Mesin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produksi, iterationStatus : ${listProduksi}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${produksi.idProduksi}"></td>
            <td th:text="${produksi.idItem}"></td>
            <td th:text="${produksi.idKategori}"></td>
            <td th:text="${produksi.tambahanStok}"></td>
            <td th:text="${produksi.pegawai.namaPegawai}"></td>
            <td th:text="${produksi.mesin.namaMesin}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>