<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Request Update Item </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
    <h2>Daftar Request Update Item</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Item ID</th>
            <th>Tanggal Request</th>
            <th>Tambahan Stok</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="requestupdateitem, iterationStatus : ${listRequestUpdateItem}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${requestupdateitem.idItem}"></td>
            <td th:text="${requestupdateitem.tanggalRequest}"></td>
            <td th:text="${requestupdateitem.tambahanStok}"></td>
            <div sec:authorize="hasAuthority('STAFF_GUDANG')">
                <td th:if="${requestupdateitem.executed == false}">
                    <a class="btn btn-primary" th:href="@{/requestupdateitem/update/} + ${requestupdateitem.idRequestUpdateItem}">Update</a>
                </td>
            </div>
            <div sec:authorize="hasAuthority('STAFF_OPERASIONAL')">
                <td th:if="${requestupdateitem.executed == true}">
                    <a class="btn btn-danger" th:href="@{/delivery/create/} + ${requestupdateitem.idRequestUpdateItem}">Buat Delivery</a>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>

